.login-input {
  width: 15%;
  height: 40px;
  padding-left: 20px;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 10px;
  font-size: 15px;
}

.login-button {
  background-color: rgb(7, 166, 234);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.show-button {
  margin-left: 15px;
}